:root {
  --color-background: #073c5e;
  --color-foreground: #cca44d;
}

html {
  height: 100%;
}

body {
  background: var(--color-background);
  color: #efefef;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  min-height: 100%;
  margin: 0;
}
